<dt>
    {% if include.contributor.github %}
    <a href="{{include.contributor.github}}">
        <span class="icon icon-github"></span> {{include.contributor.name}}
    </a>
    {% else %}
     <span>{{include.contributor.name}}</span>
    {% endif %}
</dt>
<dd>
    <table>
        <tr>
            <td>
                <img src="{{include.contributor.pic}}">
            </td>
            <td class="contribution">
                <p>{{include.contributor.contribution}}</p>
            </td>
        </tr>
    </table>
    
</dd>