{% assign url_full = site.baseurl | append: page.url %}
{% assign url_parts = url_full | split: "/" %}
{%if page.alert %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{page.alert | markdownify}}
  </div>
</div>
{%endif%}
{%if site.data.alert.message %}
<div role="banner" class="banner-alert">
  <div class="container">
  {{site.data.alert.message | markdownify}}
  </div>
</div>
{%endif%}
<div role="banner" id="top">
  <div class="container">
    <a class="logo" href="{{site.url}}{{ site.baseurl }}/"></a>

    <div class="menu-button"><i class="icon icon-reorder"></i><span>Menu</span></div>
    <div class="nav-menu-on" role="navigation">
      <ul class="small-nav">
        {%- include nav_item.html text="Source" href="/source/" url_full="/source.html" url_fragment="source" -%}
        {%- include nav_item.html text="Documentation" href="/docs" url_full="/docs/" url_fragment="docs" -%}
        {%- include nav_item.html text="Get Started" href="/docs/installation/compiling-babelfish-from-source/" url_full="/docs/installation/compiling-babelfish-from-source.html" url_fragment="compiling-babelfish-from-source" -%}
      </ul>
    </div>
  </div>
</div>
