[SET ROWCOUNT]
doctxt=[SET ROWCOUNT workaround](https://babelfishpg.org/docs/workaround/set_rowcount/)

[Parameter value DEFAULT]
rule=execute_parameter,function_call
list=procedure,function
report_group-Procedures=procedure
report_group-Functions=function
doctxt=[DEFAULT parameter value workaround](https://babelfishpg.org/docs/workaround/default_param_values/)

[Cursor options]
rule=cursor_statement
list=FORWARD_ONLY,SCROLL,STATIC,LOCAL,READ_ONLY,KEYSET,DYNAMIC,FAST_FORWARD,SCROLL_LOCKS,OPTIMISTIC,TYPE_WARNING,INSENSITIVE,FOR UPDATE
supported-1.0.0=FORWARD_ONLY,STATIC,LOCAL,READ_ONLY,INSENSITIVE
default_classification-Ignored=FAST_FORWARD
report_group=Cursors
complexity_score-LOW=FAST_FORWARD
complexity_score-HIGH=SCROLL,KEYSET,DYNAMIC,SCROLL_LOCKS,OPTIMISTIC,TYPE_WARNING,INSENSITIVE,FOR UPDATE
doctxt=[Dynamically defined cursor workaround](https://babelfishpg.org/docs/workaround/dynamically_defined_cursor/)

[ALTER INDEX]
rule=alter_index
list=REBUILD,DISABLE,REORGANIZE,SET,RESUME,PAUSE,ABORT
report_group=DDL
doctxt=[Index rebuilding workaround](https://babelfishpg.org/docs/workaround/rebuilding_table_indexes/)


# NOTE: this file must be terminated by two blank lines

